@import './../../variables.less';

.container{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 15px 20px;
  &:extend(.scrollbar all);
}

.modelList{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hiddenDiv{
  width: 250px;
  height: 0px;
  visibility: hidden;
}