.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.label {
    color: #fdd835;
    font-family: sans-serif;
    padding: 2px;
    background: rgba(0, 0, 0, 0.6);
    margin-top: -2em;
}
